<!DOCTYPE html>
<html lang="en">
<%- include('header') %>

    <head>
        <title>
            <%= title%>
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

        <style>
            .gradient-custom {
                /* fallback for old browsers */
                background: #f6d365;

                /* Chrome 10-25, Safari 5.1-6 */
                background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
            }
        </style>
    </head>
    <% var k=0%>
        <%for( i of users){%>
            <%if(i.name==user.name){%>
                <%for( j of i.complaint){%>
                    <%if(j.status=="Resolved"){%>
                        <%k++ %>
                            <%} %>
                                <%} %>
                                    <%} %>
                                        <%} %>

                                            <body>
                                                <section class="vh-100" style="background-color: #f4f5f7;">
                                                    <div class="container py-5 h-100">
                                                        <div
                                                            class="row d-flex justify-content-center align-items-center h-100">
                                                            <div class="col col-lg-6 mb-4 mb-lg-0">
                                                                <div class="card mb-3" style="border-radius: .5rem;">
                                                                    <div class="row g-0">
                                                                        <div class="col-md-4 gradient-custom text-center "
                                                                            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                                                            <img src="https://www.clipartmax.com/png/full/405-4050774_avatar-icon-flat-icon-shop-download-free-icons-for-avatar-icon-flat.png"
                                                                                alt="Avatar" class="img-fluid "
                                                                                style="width: 80px; margin-top: 8.5rem; margin-bottom: 1.5rem;" />
                                                                            <p>Welcome Back,</p>
                                                                            <h4>
                                                                                <%= user.name%>
                                                                            </h4>

                                                                            <i class="far fa-edit mb-5"></i>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <div class="card-body p-4">
                                                                                <h6>Information</h6>
                                                                                <hr class="mt-0 mb-4">
                                                                                <div class="row pt-1">
                                                                                    <div class="col-6 mb-3">
                                                                                        <h6>Email</h6>
                                                                                        <p class="text-muted">
                                                                                            <%= user.roll_no%>
                                                                                                @students.iitmandi.ac.in
                                                                                        </p>
                                                                                    </div>
                                                                                    <div class="col-6 mb-3">
                                                                                        <h6>Roll Number</h6>
                                                                                        <p class="text-muted">
                                                                                            <%= user.roll_no%>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <h6>Complaints</h6>
                                                                                <hr class="mt-0 mb-4">
                                                                                <div class="row pt-1">
                                                                                    <div class="col-6 mb-3">
                                                                                        <h6>Recent Complaint</h6>
                                                                                        <%for( i of users){%>
                                                                                            <%if(i.name==user.name){%>
                                                                                                <p class="text-muted">
                                                                                                    <%if(user.complaint.length!=0){%>
                                                                                                        <%=
                                                                                                            i.complaint[user.complaint.length-1].subject%>
                                                                                                            <%} %>
                                                                                                </p>
                                                                                                <%} %>
                                                                                                    <%} %>
                                                                                    </div>

                                                                                    <div class="col-6 mb-3">
                                                                                        <h6>Total Complaints</h6>
                                                                                        <p class="text-muted">
                                                                                            <%= user.complaint.length%>
                                                                                        </p>
                                                                                    </div>
                                                                                    <div class="col-6 mb-3">
                                                                                        <h6>Resolved</h6>
                                                                                        <p class="text-muted">
                                                                                            <%= k%>
                                                                                        </p>
                                                                                    </div>
                                                                                    <div class="col-6 mb-3">
                                                                                        <h6>Unresolved</h6>
                                                                                        <p class="text-muted">
                                                                                            <%= user.complaint.length -
                                                                                                k %>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="d-flex justify-content-start">
                                                                                    <a href="#!"><i
                                                                                            class="fab fa-facebook-f fa-lg me-3"></i></a>
                                                                                    <a href="#!"><i
                                                                                            class="fab fa-twitter fa-lg me-3"></i></a>
                                                                                    <a href="#!"><i
                                                                                            class="fab fa-instagram fa-lg"></i></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </body>

</html>